// font-family: 'Roboto', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Raleway', sans-serif;
* {
    font-size: 16px;
}

@mixin getFontMain {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #8c8c8c;
    line-height: 1.7;
}

@mixin getFontTitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #555555;
}

@mixin getBlockTitle {
    padding: 2.5rem 0 0.5rem;
    font-size: 1.7rem;
    line-height: 1.1;
}

@mixin getBlockSubTitle {
    padding-bottom: 1rem;
}

.flexible-image {
    max-width: 100%;
}

.logo-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #fff;
}

.btn-primary {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    outline: none;
    text-transform: uppercase;
    font-size: 0.7rem !important;
    margin-top: 0.5rem;
    &:hover {
        background-color: #998675;
    }
}

.navbar.navbar-expand-lg.navbar-light {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 16;
    width: 100%;
}

.navbar-expand-lg {
    justify-content: space-between !important;
}

.navbar-collapse {
    flex-grow: 0 !important;
}

.nav-item {
    text-align: center;
    background: none;
    margin-left: 20px;
    &:hover {
        .nav-link {
           color: #c7b299 !important; 
        }
    }
    .nav-link {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        border: none;
        color: #fff !important;
        &:hover {
           background: none;
        }
    }
}  
     
.header__icons {
    .basket {
        width: 15px;
        height: 15px;
        background: url('../assets/img/shopping-basket.svg') center center no-repeat;
        background-size: cover;
        opacity: 0.7;
        &:hover {
            opacity: 1;
        }
    }
    .search {
        width: 15px;
        height: 15px;
        background: url('../assets/img/search.svg') center center no-repeat;
        background-size: cover;
        opacity: 0.7;
        &:hover {
            opacity: 1;
        }
    }
}

#carouselExampleIndicators_1 {
    .carousel-indicators li {
        width: 3px;
        border-radius: 50%;
        background-color: #8e8d8f;
        &.active {
            background-color: transparent;
            border: 1px solid #998d7f;
        }
    }
    .carousel-caption {
        top: 30%;
        color: #fff;
        .slider-upTitle {
            font-family: 'Raleway', sans-serif;
            font-weight: 500;
            font-size: 1.5rem;
            
        }
        .slider-title {
            font-family: 'Raleway', sans-serif;
            font-weight: 800;
        } 
        .slider-subTitle {
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
        }
    }
}

.services {
    text-align: center;
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        max-width: 275px;
        margin-bottom: 2rem;
        &:hover {
            .services__title {
                color: #c7b299;
            } 
            .services__underline {
                background-color: #c7b299;
            }
            @for $i from 1 through 4 {
                .services__icon-#{$i} {
                    background: url('../assets/img/service-icon-hover-#{$i}.svg') center center no-repeat;
                    background-size: cover;
                    width: 35px;
                    height: 35px;
                } 
            }
        }
    }
    @for $i from 1 through 4 {
        .services__icon-#{$i} {
            background: url('../assets/img/service-icon-#{$i}.svg') center center no-repeat;
            background-size: cover;
            width: 35px;
            height: 35px;
        }
    }
    
    &__title {
        @include getFontTitle;
        text-transform: capitalize;
        font-size: 1.2rem;
        padding: 0.5rem 0;
    }
    &__text {
        @include getFontMain;
        font-size: 0.8rem;
        padding-bottom: 1rem;
    }
    &__underline {
        background-color: #f1eee9;
        width: 70px;
        height: 3px; 
        margin-bottom: 0.5rem;
    }
}

.block-head {
    text-align: center;
   .block-title {
       @include getBlockTitle;
       @include getFontTitle;
   } 
   .block-subtitle {
       @include getBlockSubTitle;
       @include getFontMain;
       font-size: 0.9rem;
   }
}

.realization {
    background-color: #fbfaf8;
    &__image {
        width: 100%;
    }
}

.text-block {
    background: linear-gradient(to right, #231c1a, #4e3427);
    padding: 1.5rem 0;
    .text {
        text-align: center;
        @media (min-width: 992px) {
            text-align: left;
        }
    }
    .text-title {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        color: #fff;
        font-size: 1.3rem;
        .text-logo {
            color: #c7b299;
            font-size: 1.3rem;
        }
    }
    .text-subtitle {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        color: #615855;
    }
}

.project {
    padding-bottom: 2.5rem;
    .nav-item {
        margin-bottom: 1rem;
    }
    
    .nav-link {
        @include getFontMain;
        font-size: 0.8rem;
        border: 1px solid #ebebeb;
        color: #8c8c8c !important;
        &:hover {
            color: #fff;
            background-color: #998675;
        }
    }
}

.card {
    margin-bottom: 1rem;
    &:hover {
        background-color: #362f2d;
        .card-img-top {
            filter: contrast(15%) brightness(0.5);
        }
    }
}

.card-project {
    background-color: #fbfaf8;
    border: none;
    &:hover {
        .card-text-1 {
            color: #fff;
        }
        .card-text-2 {
            color: #c7b299;
        }
        .card-body-project:before {
            border-bottom: 18px solid #362f2d;
        }
        .card-icon {
            display: flex;
        }
    }
    .card-body-project:before {
        content: ''; 
        position: absolute;
        left: 10px; 
        top: 133px;
        border: 30px solid transparent;
        border-bottom: 18px solid #fbfaf8;
    }
    .card-text-1 {
        color: #c7b299;
    }
    .card-text-2 {
        color: #d1d1d1;
    }
    .card-icon {
        position: absolute;
        display: none;
        top: 30%;
        left: 35%;
        @for $i from 1 through 2 {
            .card-icon-#{$i} {
                background: url('../assets/img/project-icon-#{$i}.svg') center center no-repeat;
                width: 30px;
                height: 30px;
                background-size: cover;
                &:hover {
                    cursor: pointer;
                    background: url('../assets/img/project-icon-hover-#{$i}.svg') center center no-repeat;
                    background-size: cover;
                }
            }
        }
        .card-icon-1 {
            margin-right: 1.2rem;
        }
    }
}

.btn-more {
    background-color: #362f2d;
}

.features {
    background-color: #fbfaf8;  
    .block-head {
        text-align: left; 
    }
    &__content {
        @include getFontMain;
        line-height: 2;
    }
    &__icon-bg {
        background: #c7b299;
        border-radius: 50%;
    }
    &__icon {
        width: 15px;
        height: 15px;
        background: url('../assets/img/feature-arrow.svg') center center no-repeat;
        background-size: cover;
    }

}

.counters {
    background: linear-gradient(to right, #231c1a, #4e3427);
    &__item {
        text-align: center;
    }
    @for $i from 1 through 5 {
        .counters__icon-#{$i} {
            width: 50px;
            height: 50px;
            background: url('../assets/img/counters-icon-#{$i}.svg') center center no-repeat;
            background-size: cover;
        }
    }
    &__amount {
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        font-size: 2.5rem;
        line-height: 1.2;
        color: #fff;
    }
    &__text {
        @include getFontMain;
        color: #c7b299;
        font-size: 0.9rem;
        text-transform: uppercase;
    }
    &__underline {
        width: 30px;
        height: 2px;
        background-color: #fff;
    }
}

.posts {
    padding-bottom: 4.5rem;
}

#carouselExampleIndicators_2 {
    .carousel-indicators.carousel-2 {
        bottom: -40px;
    }
    .carousel-indicators li {
        width: 20px;
        height: 20px;
        border: 1px solid #e0e0e0;
        border-radius: 50%;
        background-color: transparent;
        &:hover {
            border-color: #cab79f;
            @for $i from 1 through 2 {
                .indicator-#{$i} {
                    background: url('../assets/img/arrow-btn-hover-#{$i}.svg') center center no-repeat;
                    width: 10px;
                    height: 10px;
                    background-size: cover;
                }
            }
        }
    }
    @for $i from 1 through 2 {
        .indicator-#{$i} {
            background: url('../assets/img/arrow-btn-#{$i}.svg') center center no-repeat;
            width: 10px;
            height: 10px;
            background-size: cover;
        }
    }

    .card {
        position: relative;
        &:hover {
            .btn-posts {
                text-decoration: none;
                color: #c7b299;
            }
            .card-title {
                color: #c7b299;
            }
            .text-posts {
                color: #fff;
            }
            .date-number {
                background-color: #c7b299;
            }
            .date-month {
                background-color: #a48d72;
            }
        }
    }

    .card-date {
        position: absolute;
        z-index: 20;
        top: 15px;
        left: 15px;
        color: #fff;
    }

    .date-number {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 1.3rem;
        background-color: #363636;
        text-align: center;
    }

    .date-month {
        font-family: 'Roboto', sans-serif;
        font-size: 0.7rem;
        background-color: #252525;
        text-align: center;
    }
    
    .card-title {
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        color: #555555;
        font-size: 1.1rem;
    }
    .text-posts {
        @include getFontMain;
        font-size: 0.9rem;
    }
}

.btn-posts {
    @include getFontMain;
    font-size: 0.9rem;
    color: #c7b299;
    text-transform: capitalize;
    opacity: 0.7;
    &:hover {
        opacity: 1;
    }
}
.arrow-btn {
    width: 8px;
    height: 10px;
    background: url('../assets/img/btn-posts.svg') center center no-repeat;
    background-size: cover;
}

.partners {
    background: url('../assets/img/banners-bg.jpg') center center no-repeat;
    background-size: cover;
}

.footer {
    background-color: #191919;
    .footer-text {
        @include getFontMain;
        font-size: 0.9rem;
        color: #555555;
    }
    .footer-btn {
        color: #d1d1d1;
        &:hover {
            text-decoration: none;
            color: #c7b299;
            .footer-arrow {
                width: 8px;
                height: 10px;
                background: url('../assets/img/btn-posts.svg') center center no-repeat;
                background-size: cover;
            }
        }
    }
    .footer-arrow {
        width: 8px;
        height: 10px;
        background: url('../assets/img/footer-btn.svg') center center no-repeat;
        background-size: cover;
    }
    .item-title {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        color: #fff;
        font-size: 1.3;
        text-transform: capitalize;
    }
    @for $i from 1 to 3 {
        .item-block-#{$i} {
        border-bottom: 1px solid #252525;
        }
    }
    
    .item-post {
        &:hover {
            text-decoration: none;
            .item-date {
                color: #fff;
            }
            .item-text {
                color: #c7b299;
            }
        }
    }
    .item-date {
        @include getFontMain;
        color: #363636;
        font-size: 0.8rem;
        line-height: 1.9;
    }
    .item-link {
        color: #555555;
        &:hover {
            color: #00bff3;
            text-decoration: none;
        }
    }
    .item-source {
        color: #555555;
        &:hover {
            color: #959595;
            text-decoration: none;
        }
    }
    .bottom-footer {
        background-color: #111111;
        @include getFontMain;
        font-size: 0.8rem;
        color: #555555;
        line-height: 1;
    }
    @for $i from 1 to 4 {
        .part-#{$i} {
            border-right: 1px solid #252525;
        }
    }
    .footer-link {
        color: #555555;
        &:hover {
            color: #959595;
            text-decoration: none;
        }
    }
    .link {
        color: #555555;
        &:hover {
            color: #c7b299;
            text-decoration: none;
        }
    }
}

@media (min-width: 576px) {
    .slider-title {
       font-size: 2rem !important; 
    }
}

@media (min-width: 720px) {
    .btn-primary {
        font-size: 0.8rem !important;
    }
    #carouselExampleIndicators {
        .btn-primary {
            margin-top: 2rem;
        }
    }
}

@media (max-width: 991px) {
    .navbar-nav {
        background-color: #fbfaf8;
        z-index: 17 !important;
        .nav-link {
           color: #000 !important; 
        }
        
    }
    .bottom-footer-item {
        justify-content: flex-start !important;
    }
}

@media (min-width: 992px) {
    .iphone {
        order: -1;
    }
}